---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "fonts";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 20px/1.6 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 10px;
  width: 100%;
}

h1, h2 {
  font-family: 'Playpen-SemiBold', sans-serif;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 10px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}



h1 {
  font-size: 30px;
  font-weight: bold;
  a {
    color: black;
  }
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
  font-weight: 400;
  color: $sdarkGray;
}

h4 {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 300;
  color: $sdarkGray;
  letter-spacing: 0px;
  word-spacing: 3px;
  margin-bottom: 15px;
}


p {
  margin: 15px 0;
}

a {
  color: $accentColor;
  text-decoration: none;
	cursor: pointer;
  transition: color 0.3s ease;

  &:hover, &:active {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    color: black;
  }
}


ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 10px;

  // background-color: write;
  position: relative;
  left: 260px;
  max-width: 900px;
  background: linear-gradient(to top, $softGray, white); 
}

.masthead {
  position: relative;
  padding: 10px 0;
  border-bottom: 0px solid $lightGray;
  max-width: 900px;


  @include mobile {
    text-align: center;
  }
}

// .site-avatar {
//   float: left;
//   width: 70px;
//   height: 70px;
//   margin-right: 15px;

//   @include mobile {
//     float: none;
//     display: block;
//     margin: 0 auto;
//   }

//   img {
//     border-radius: 5px;
//   }
// }

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $black;
  cursor: pointer;
  font-family: 'Kalam-Bold', cursive; 
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 1px;
  a {
    color: $black;
  }
}


@keyframes fadeInOut {
  0% {
    opacity: 0; // 开始时完全透明
  }
  50% {
    opacity: 1; // 中间时完全不透明
  }
  100% {
    opacity: 0; // 结束时再次变为透明
  }
}

@keyframes typing {
  0% { width: 0; }
  50% { width: 100%; }
  100% { width: 0; }
}

@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: black; }
}

.site-description {
  font-family: 'Courier New', monospace;
  font-weight: 500;
  overflow: hidden;
  border-right: .15em solid black;
  font-size: 30px;
  white-space: pre;
  margin: auto;
  letter-spacing: .15em;
  max-width: 20em; 
  animation:
    typing 5s steps(30, start) infinite,
    blink .75s step-end infinite;
}


nav {
  float: right;
  margin-top: 10px; // @TODO: Vertically middle align
  font-family: "Playpen-Light";
  font-size: 20px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $sdarkGray;
    text-align: right;
    font-weight: 350;
    letter-spacing: 1px;
    

    @include mobile {
      margin: 0 10px;
      color: $primaryColor;
    }
    &:hover, &:active {
      color: $black; // 使用次要颜色来指示悬停状态
    }
  }
}

//
// .main
//
.introduction-section {
  position: relative;
  text-align: center;
  padding: 20px 10px; // 根据需要调整
  margin: 40px 0; // 根据需要调整
}

.intro-background {
  font-family: 'Kalam-Bold', cursive; // 使用艺术字体
  font-size: 155px; // 大号字体大小
  opacity: 0.06; // 使字体稍微透明，以便看到下面的内容
  position: absolute;
  top: 10;
  left: 0;
  // right: 0;
  // bottom: 0;
  max-width: 850;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1; // 确保背景在内容之下
}

.intro-content {
  z-index: 100; // 确保内容在背景之上
  position: relative;
}

.justify-text {
  text-align: justify;
}

.time-container {
  width: 80px;  /* 调整宽度以适应你的需要 */
  display: inline-block;
}

/* 事件容器样式 */
.event-container {
  display: inline-block;
}

.time {
  font-style: italic;
  color: $smallGray;
  font-size: 16px;
}

/* 更新事件的样式 */
.event {
  padding-left: 2em;  /* 用于创建tab效果 */
  font-weight: 200;
  font-size: 16px;
  word-spacing: 3px;
}

/* 更新每个项目的样式 */
.news-item {
  text-align: left;  /* 左对齐 */
  padding-left: 1em;  /* 创建一个制表符空间 */
  margin-bottom: -8px;  /* 项目之间的间距 */
}

.publish-item {
  display: flex;
  margin-bottom: 20px;  /* 添加间距，以便分隔每个出版物项 */
}

/* 定义图像列的样式 */

.image-column {
  flex: 1;
  margin-right: 0px;  /* 添加间距，在图像和文本之间创建空间 */
  border: 0px solid white; /* 为容器添加黑色边框 */
  width: 100%; /* 设置容器的宽度 */
  box-sizing: border-box; /* 确保边框包括在总宽度和高度中 */
  margin-left: auto;
  display: flex;  /* 将image-column设置为flex容器 */
  justify-content: flex-end;  /* 使图像靠右对齐 */
}

.image-column img {
  width: auto; /* 让图像填充容器 */
  height: 135px; /* 保持图像的原始纵横比 */
}

/* 定义文本列的样式 */
.text-column {
  flex: 1.4;
  // width: 600px;
  padding-left: 1em;
  font-size: 16px;
  padding-right: 1em;
}

.author_stress {
  font-style: italic;
  font-weight: 400;
}

.author {
  font-weight: 200;
  font-size: 15px;
  word-spacing: 3px;
  line-height: 24px;
}

.pub_event {
  font-weight: 400;
  font-size: 15px;
  word-spacing: 3px;
  line-height: 24px;
}

/* 定义出版物标题的样式 */
.publish-title {
  font-weight: bold;
  margin-bottom: 0px;  /* 添加间距，将标题和作者分隔开 */
  line-height: 25px;
  word-spacing: 4px;
}


.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
