
.justify-text {
    text-align: justify;
}

h4 {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 300;
    color: $sdarkGray;
    letter-spacing: 0px;
    word-spacing: 3px;
    margin-bottom: 15px;
}

@include mobile {
    h4 {
      font-size: 14px; // 减小h4字体大小
      margin-bottom: 10px; // 调整外边距
    }
  }
  