.timeSpan-container {
    width: 160px;  /* 调整宽度以适应你的需要 */
    display: inline-block;
  }
  
  /* 事件容器样式 */
  .eventSpan-container {
    display: inline-block;
  }
  
  .timeSpan {
    font-style: italic;
    color: $smallGray;
    font-size: 16px;
  }
  
  /* 更新事件的样式 */
  .eventSpan {
    padding-left: 2em;  /* 用于创建tab效果 */
    font-weight: 200;
    font-size: 16px;
    word-spacing: 3px;
  }
  
  /* 更新每个项目的样式 */
  .experience-item {
    text-align: left;  /* 左对齐 */
    padding-left: 1em;  /* 创建一个制表符空间 */
    margin-bottom: -8px;  /* 项目之间的间距 */
  }

  @include mobile {
    .timeSpan-container {
      width: 100%;  // 在移动设备上，使其占满宽度
      text-align: center; // 居中显示时间
    }
  
    .eventSpan-container {
      display: block; // 在较小的屏幕上，将事件容器变为块级元素
      margin-top: 10px; // 增加上边距
    }
  
    .eventSpan {
      padding-left: 1em;  // 减少左边距
    }
  
    .experience-item {
      padding-left: 0.5em;  // 减少左边距
      margin-bottom: 5px;  // 调整项目之间的间距
    }
  }
  