
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$red: #e23723;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$sdarkGray: #444;
$gray: #666;
$lightGray: #eee;
$white: #fff;

$primaryColor: #3498db; // 一个温和的蓝色
$secondaryColor: #2ecc71; // 一个温和的绿色
$accentColor: #e74c3c; // 一个用于强调的红色
$softGray: #f8f8f8;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}